<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start" color="light"></ion-menu-button>
    <ion-title>Elite Schedule</ion-title>
  </ion-toolbar>
  <ion-toolbar color="secondary">
    <ion-title>My Teams</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>No Followed Team</ion-card-header>
    <ion-card-content>
      <p>You are not currently following any teams.</p>
      <p>
        First select a tournament, then you can follow teams from their team
        page
      </p>

      <ion-button
        class="ion-margin-vertical"
        routerLink="/tournaments"
        routerDirection="forward"
      >
        <ion-icon name="search" slot="start"></ion-icon>
        Find a Tournament
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-list
    ><ion-list-header>Followed Teams</ion-list-header>
    <ion-item
      *ngFor="let item of favourites"
      [routerLink]="['/', 'tournaments', item.tournamentId, 'team-home', item.team.id]"
      routerDirection="forward"
      ><ion-icon name="star" slot="start"></ion-icon>{{ item.team.name }}
      <ion-label position="stacked"
        ><p>{{item.tournamentName}}</p></ion-label
      ></ion-item
    ></ion-list
  >
</ion-content>
