<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Elite Schedule</ion-title>
  </ion-toolbar>
  <ion-toolbar color="secondary">
    <ion-title>My Teams</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>You are not currently following any teams.</p>
  <p>
    First select a tournament, then you can follow teams forom their team page
  </p>
  <ion-button
    expand="block"
    routerLink="/tournaments"
    routerDirection="forward"
  >
    Find a Tournament
  </ion-button>
</ion-content>
