<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="(location$ | async) as location"
    ><ng-container *ngIf="(game$ | async) as game">
      <ion-fab vertical="bottom" horizontal="start" slot="fixed"
        ><ion-fab-button (click)="goToDirections(location)"
          ><ion-icon name="navigate"></ion-icon></ion-fab-button></ion-fab
      ><agm-map
        [latitude]="location.latitude"
        [longitude]="location.longitude"
        [zoom]="zoom"
        ><agm-marker
          [latitude]="location.latitude"
          [longitude]="location.longitude"
          ><agm-info-window
            ><strong>{{game.location}}</strong></agm-info-window
          ></agm-marker
        ></agm-map
      ></ng-container
    ></ng-container
  >
</ion-content>
