<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ (game$ | async)?.location }}</ion-title>
  </ion-toolbar>
</ion-header>

<ng-container *ngIf="(game$ | async) as game">
  <ion-content>
    <h3>Home Team</h3>
    <ion-button
      [routerLink]="['/', 'tournaments', tournamentId, 'team-home', game?.team1Id]"
      routerDirection="forward"
      >{{ game?.team1 }}</ion-button
    >
    <h3>Away Team</h3>
    <ion-button
      [routerLink]="['/', 'tournaments', tournamentId, 'team-home', game?.team2Id]"
      routerDirection="forward"
      >{{ game?.team2 }}</ion-button
    >
  </ion-content>
</ng-container>
