<ion-header>
  <ion-toolbar color="primary"> </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content class="ion-no-padding">
      <ion-grid>
        <ion-row>
          <ion-col size="6"
            ><ng-container *ngIf="(teamStanding$ | async) as teamStanding">
              <h2>
                Record: {{ teamStanding.wins }}-{{ teamStanding.losses}}
              </h2></ng-container
            >
            <p>Coach: {{ (team$ | async)?.coach }}</p></ion-col
          >
          <ion-col size="6">
            <ion-button
              class="ion-float-right"
              *ngIf="!isFollowing"
              (click)="toggleFollow()"
              ><ion-icon name="star" class="ion-padding-end"></ion-icon
              ><ion-label>Add Favourite</ion-label></ion-button
            >
            <ion-button
              class="ion-float-right"
              *ngIf="isFollowing"
              (click)="toggleFollow()"
              ><ion-icon name="star"></ion-icon
            ></ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item lines="none" class="ion-no-padding">
              <ion-label>Date Filter:</ion-label>
              <ion-datetime
                displayFormat="D/M/YYYY"
                placeHolder="All"
                [(ngModel)]="filterDate"
                [(disabled)]="!useDateFilter"
              ></ion-datetime>
              <ion-toggle [(ngModel)]="useDateFilter" slot="end"></ion-toggle
            ></ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-list-header>Games</ion-list-header>
  <ion-list>
    <ion-item
      *ngFor="let game of gamesFiltered$ | async"
      [routerLink]="['/','tournaments', tournamentId, 'game', game.id]"
      routerDirection="forward"
    >
      <ion-grid>
        <ion-row
          ><ion-col size="3">
            <p>{{ game.time | date: 'd/M/yy' }}</p>
            <p>{{ game.time | date: 'shortTime' }}</p>
          </ion-col>
          <ion-col>
            <p>{{ game.homeAway }} {{ game.opponent }}</p>
            <p>{{ game.location }}</p>
          </ion-col>
          <ion-col size="3">
            <h4>{{ game.scores }}</h4>
            <ion-badge [color]="getResultColor(game.resultIndicator)"
              >{{ game.resultIndicator }}</ion-badge
            >
          </ion-col></ion-row
        >
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
