<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Teams</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group
      *ngFor="let divisionTeams of teamsGroupedByDivision$ | async"
    >
      <ion-item-divider color="secondary">
        {{ divisionTeams.division }}
      </ion-item-divider>
      <ion-item
        *ngFor="let team of divisionTeams.teams"
        [routerLink]="['/', 'tournaments', tournamentId, 'team-home', team.id]"
        routerDirection="forward"
        >{{team.name}}</ion-item
      >
    </ion-item-group>
  </ion-list>
</ion-content>
